<!DOCTYPE html>
<link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300,700' rel='stylesheet' type='text/css'>
<section class="s0">
	
</section>
<section class="s1">
	
</section>
<section class="s2 row">

	<div class="col-xs-offset-1 col-xs-7 s2-cont">
		<center>
			<span class="sub-text">Hi! I am</span> <br class="brc">
			<span class="s-title">ENZO BAUTISTA</span>
			<br class="brc"><span class="sub-text"> and I’m running to be your next MISA President</span>
			<br><br><br><br><br><br><br><br>
			<span class="s-title1">ABOUT ME</span>
			</center>
			<br>
			<div class="s-div">
			<span class="s-q">How would you describe yourself?</span><br class="brd"><br class="brd">
			<p class="s-q1"><span class="spanc">
			I </span> am a very objective person. I like reasoning things out and weighing the pros vs cons. <br class="brd"> <span class="spanc">      
			I </span>can sometimes be described as passive-active leader. I try to lead through setting a clear example and sharing a vision with my team. I prefer delegation to micro-management since I value team creativity.   </p>

			<span class="s-q">What are your strengths? Weaknesses?</span><br class="brd"><br class="brd">
			<p class="s-q1"><span class="spanc">
			I </span> am a very driven person. When I set my mind to something I am able to focus and immerse myself in the task. I have a passion for learning and also a passion for teaching. <br class="brd"> <span class="spanc">      
			I </span>sometimes tend to overthink things and end up being careless. I sometimes procrastinate as it increases my creativity.</p>

			<span class="s-q">What do you love?</span><br class="brd"><br class="brd">
			<p class="s-q1"><span class="spanc">
			I </span> love sailing, soccer, reading, creative writing, programming, economics, learning new skills, and most especially my family and friends.</p>

			<span class="s-q">Favorite place in Katipunan besides school?</span><br class="brd"><br class="brd">
			<p class="s-q1"><span class="spanc">
			Xocolat! </span> I really like its ambiance and homey feel. The menu is really great as well. It's a great place for a date.</p>                             
			</div>
		
	</div>
</section>
<section class="s3">

	<center>
	<br><br><br><br><br><br>
	<div class="row s-row">
	<%= image_tag "/assets/vision1.png" %>
	</div>
	<br>
	<div class="row">
	<div class="col-md-offset-3 col-md-6">
	<p class="s-q2">MISA is an excellent home org. It trains students in its core competency to become responsible and qualified professionals. The org’s focus for the past few years have been in strengthening itself internally—putting systems in place to create better events and form better leaders. With strong protocols in place for event execution and officer training, I believe that MISA can now start heading out into society to affect greater change.  <br><br>I envision a MISA where the organization’s core competency is used to solve real problems—where members get to leverage Information Management as a tool for social transformation. </p></div></center>

</section>

<section class="s4">
<center>
<%= image_tag "/assets/where.png", :style=>"margin-top:-7.5vh;" %>
<p class="s-q4">
	To cultivate MISA's growth as a premier information management organization,<br>
	I believe that the following action points are needed.
</p>
</center>
</section>
<section class="s5">
<center>
<%= image_tag "/assets/plans.png", :style=>"margin-top:-8vh;" %>
<p class="s-q3">
	To cultivate MISA's growth as a premier information management organization,<br>
	I believe that the following action points are needed.
</p>
</center>
</section>
<section class="s6">


	<div class="s6-col1">
		
	</div>

	
	<div class="s6-col2">
		
	</div>
	
	<div class="s6-col3">
		
	</div>



</section>